networks:
  tellsticknet:
    driver: bridge

services:
  tellsticknet:
    build:
      context: .
    container_name: tellstick
    restart: unless-stopped
    ports:
      - "30303:30303/udp"
      - "42314:42314/udp"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${HOME}/.config/tellsticknet.conf:/app/tellsticknet.conf:ro
      - ${HOME}/.config/mosquitto_pub:/app/.config/mosquitto_pub:ro
    command: ["uv", "run", "python", "-m", "tellsticknet", "mqtt", "-vv"]
    networks:
      - tellsticknet
